.container-alt {
  background-color: var(--bg-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.form-alt {
  background: var(--card-bg);
  width: 100%;
  max-width: 550px;
  padding: 40px;
  border-radius: 24px;
  border: 1px solid var(--border-subtle);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.form-header h2 {
  color: var(--text-light);
  margin-bottom: 5px;
}

.form-header p {
  color: var(--text-muted);
  font-size: 0.9rem;
}

/* Inputs de impacto */
.section-main {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-with-icon {
  display: flex;
  align-items: center;
  background: var(--bg-card);
  border-radius: 12px;
  padding: 10px 0px;
  gap: 12px;
  color: var(--text-light);
}

.input-with-icon input {
  background: transparent;
  border: none;
  color: var(--text-light);
  width: 100%;
  font-size: 1.1rem;
  outline: none;
}

.input-with-icon.accent input {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--text-light);
}

/* Secciones de detalles */
.section-details {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 50px;
}

.input-group-alt label {
  display: block;
  font-size: 0.8rem;
  color: var(--text-muted);
  margin-bottom: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.input-group-alt input,
.input-group-alt select {
  width: 100%;
  background: var(--bg-dark);
  border: 1px solid var(--border-subtle);
  padding: 12px;
  border-radius: 10px;
  color: white;
  outline: none;
}

/* Configuración (Mensual/Cuotas) */
.section-mensual {
  background: var();
  padding: 20px;
  border-radius: 15px;
  border: 1px dashed var(--border-subtle);
}
.section-mensual span {
  color: var(--text-muted);
  font-size: 0.9rem;
}

.toggle-control {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.toggle-control input {
  display: none;
}

.toggle-switch {
  width: 40px;
  height: 20px;
  border-radius: 20px;
  position: relative;
  transition: 0.3s;
  color: var(--text-muted);
  border: 1px solid var(--border-subtle);
}

.toggle-switch::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: 0.3s;
}

.is-active .toggle-switch {
  background: var(--primary-accent);
}
.is-active .toggle-switch::after {
  left: 22px;
}

.row-mensual {
  margin-top: 15px;
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

/* Botón principal */
.btn-gradient {
  background: var(--primary-accent);
  color: var(--text-light);
  padding: 16px;
  border: none;
  border-radius: 12px;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: transform 0.2s;
}

.btn-gradient:hover {
  transform: translateY(-3px);
  filter: brightness(1.1);
}

.toast-success {
  position: fixed;
  top: 50px;
  background: var(--success);
  color: var(--success-text);
  padding: 15px 30px;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  z-index: 100;
}
