.dashboard-container {
  padding: 2rem;
  background-color: var(--bg-dark);
  min-height: 100%;
}

.dash-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.company-brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.temp-logo img {
  color: white;
  width: 119px;
  height: 119px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 800;
  font-size: 1.2rem;
  box-shadow: 0 10px 20px rgba(198, 40, 40, 0.3);
}

.brand-text h1 {
  color: var(--text-light);
  margin: 0;
  font-size: 1.5rem;
}

.brand-text p {
  color: var(--secundary-accent);
  margin: 0;
  font-weight: 600;
  letter-spacing: 1px;
}

.header-info {
  display: flex;
  gap: 10px;
}

.info-pill {
  background: var(--card-bg);
  padding: 8px 16px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text-muted);
  border: 1px solid var(--border-subtle);
  font-size: 0.85rem;
}

.dash-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1.2fr;
  grid-template-rows: auto auto;
  gap: 1.5rem;
}

.dash-card {
  background: var(--card-bg);
  border-radius: 20px;
  padding: 1.5rem;
  border: 1px solid var(--border-subtle);
}

.summary-card {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.card-icon-main {
  background: rgba(198, 40, 40, 0.1);
  color: var(--primary-accent);
  padding: 1.2rem;
  border-radius: 15px;
}

.summary-content .label {
  color: var(--text-muted);
  font-size: 0.9rem;
}

.summary-content .amount {
  color: var(--text-light);
  font-size: 2rem;
  margin: 5px 0;
}

.trend.positive {
  color: #2ecc71;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.8rem;
}

.chart-card {
  grid-column: span 2;
}

.chart-card h3,
.history-mini h3 {
  color: var(--text-light);
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
}

.history-mini {
  grid-row: span 2;
}

.card-header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-all-btn {
  background: transparent;
  border: 1px solid var(--primary-accent);
  color: var(--primary-accent);
  padding: 5px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.8rem;
}

.mini-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mini-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--border-subtle);
}

.item-info {
  display: flex;
  flex-direction: column;
}

.item-name {
  color: var(--text-light);
  font-weight: 600;
  font-size: 0.95rem;
}

.item-date {
  color: var(--text-muted);
  font-size: 0.8rem;
}

.item-amount {
  color: var(--text-light);
  font-weight: 700;
}
