.container-history {
  min-width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  background-color: var(--bg-dark);
  padding: 1rem;
}

.card-history {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  max-width: 900px;
  width: 100%;
  justify-self: center;
  border-radius: 24px;
  background-color: var(--card-bg);
  border: 1px solid var(--border-subtle);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  padding: 40px;
}

.card-titles {
  margin-bottom: 20px;
}

.history-title {
  font-size: 1.5rem;
  color: var(--text-light);
  font-weight: 600;
}
.search-title {
  font-size: 1.5rem;
  color: var(--text-light);
  font-weight: 600;
}
.search-container {
  display: flex;
  align-items: center;
  background: var(--bg-card);
  border-radius: 12px;
  padding: 10px 0px;
  gap: 12px;
  color: var(--text-light);
}
.search-container input {
  width: 100%;
  box-sizing: border-box;
  background: var(--bg-dark);
  border: 1px solid var(--border-subtle);
  padding: 12px;
  font-size: 1.2em;
  border-radius: 10px;
  color: white;
  outline: none;
}

.expenses-list {
  flex-direction: column;
  display: flex;
  gap: 1rem;
}

.expense-card {
  background-color: var(--bg-dark);
  transition: transform 0.2s ease;
  border-left: 4px solid transparent;
  color: var(--text-light);
  border-radius: 9px;
}

.not-expense-card {
  background-color: var(--bg-dark);
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--text-light);
  border-radius: 9px;
  font-weight: 600;
}

.expense-card:hover {
  border-left-color: var(--primary-accent);
}

.expense-icon-wrapper {
  background-color: rgba(116, 177, 190, 0.1);
  padding: 0.5rem;
  border-radius: 8px;
}

.category-icon {
  color: var(--primary-accent);
}

.expense-details {
  flex-grow: 1;
}

.expense-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expense-name {
  font-weight: bold;
  font-size: 1.5rem;
}

.expense-amount {
  color: var(--text-light);
  font-weight: 600;
  font-size: 1.9rem;
}
.expense-note {
  display: flex;
  visibility: hidden;
}
.is-active {
  margin-bottom: 0.5rem;
  color: var(--text-light);
  font-size: 1.1rem;
  align-items: center;
  display: flex;
  gap: 0.4rem;
  visibility: visible;
}

.expense-info-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  border: 1px solid var(--border-subtle);
  border-radius: 10px;
  padding: 5px;
  max-width: 400px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.85rem;
  color: var(--text-muted);
}

.monthly-badge {
  color: var(--secundary-accent);
  font-weight: 500;
}

.arrow-icon {
  color: var(--text-muted);
  opacity: 0.5;
}

.card-options {
  overflow: hidden;
  transition:
    max-height 0.3s ease-out,
    opacity 0.3s ease;
  max-height: 0;
  opacity: 0;
}
.card-options button {
  margin: 20px;
}
.card-options.open {
  max-height: 200px;
  opacity: 1;
}

.btn-delete {
  background: var(--primary-accent);
  color: var(--text-light);
  padding: 10px;
  border: none;
  border-radius: 12px;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: transform 0.2s;
}

.wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  transition: transform 0.2s ease;
  border-left: 4px solid transparent;
  border-radius: 9px;
  cursor: pointer;
}
