.container-history {
  min-width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  background-color: var(--bg-dark);
  padding: 1rem;
}

.history-title {
  font-size: 1.5rem;
  color: var(--text-light);
  font-weight: 600;
}

.card-history {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  gap: 1rem;
  max-width: 900px;
  width: 100%;
  justify-self: center;
  border-radius: 24px;
  background-color: var(--card-bg);
  border: 1px solid var(--border-subtle);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  padding: 40px;
}

.expense-card {
  background-color: var(--bg-dark);
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: transform 0.2s ease;
  border-left: 4px solid transparent;
  color: var(--text-light);
  border-radius: 9px;
}

.expense-card:hover {
  border-left-color: var(--primary-accent);
}

.expense-icon-wrapper {
  background-color: rgba(116, 177, 190, 0.1);
  padding: 0.5rem;
  border-radius: 8px;
}

.category-icon {
  color: var(--primary-accent);
}

.expense-details {
  flex-grow: 1;
}

.expense-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expense-name {
  font-weight: bold;
  font-size: 1.5rem;
}

.expense-amount {
  color: var(--text-light);
  font-weight: 600;
  font-size: 1.9rem;
}
.expense-note {
  display: flex;
  visibility: hidden;
}
.is-active {
  margin-bottom: 0.5rem;
  color: var(--text-light);
  font-size: 1.1rem;
  align-items: center;
  display: flex;
  gap: 0.4rem;
  visibility: visible;
}

.expense-info-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  border: 1px solid var(--border-subtle);
  border-radius: 10px;
  padding: 5px;
  max-width: 400px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.85rem;
  color: var(--text-muted);
}

.monthly-badge {
  color: var(--primary-accent);
  font-weight: 500;
}

.arrow-icon {
  color: var(--text-muted);
  opacity: 0.5;
}
