:root {
  /* Acentos de Marca */
  --primary-accent: #c62828;
  --secundary-accent: #fbc02d;

  /* Fondos Estructurales */
  --bg-dark: #0f172a;
  --card-bg: #1e293b;

  /* Tipografía y Bordes */
  --text-light: #f8fafc;
  --text-muted: #94a3b8;
  --border-subtle: #334155;

  --success: #2ecc71;
  --success-text: white;
  --error: #e74c3c;

  --window-button-exit: #f44336;
  --window-button-hover: #1e293b;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  overflow: hidden;
  background-color: white;
}
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-layout {
  padding-top: 32px;
  display: flex;
  flex: 1;
  overflow: hidden;
}
.sidebar-component {
  flex-shrink: 0;
}

.outlet-component {
  flex: 1;
  width: 100%;
  overflow: auto;
}

/* Estilos para navegadores basados en Webkit (Chrome, Safari, Edge, Brave) */

/* 1. Definimos el ancho de la barra */
.outlet-component::-webkit-scrollbar {
  width: 12px; /* Espacio total de la barra */
  height: 12px; /* Para scroll horizontal si existiera */
}

/* 2. El fondo de la barra (el carril) */
.outlet-component::-webkit-scrollbar-track {
  background: var(--bg-dark);
}

/* 3. La pieza que se desplaza */
.outlet-component::-webkit-scrollbar-thumb {
  background-color: var(--primary-accent);
  border-radius: 20px; /* Bordes redondeados */

  /* Este borde crea un espacio entre la barra y el borde del contenedor */
  border: 3px solid var(--bg-dark);
}

/* 4. Efecto cuando el usuario pasa el mouse */
.outlet-component::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-light); /* Resalta al pasar el mouse */
}

/* 5. Soporte para Firefox (Estándar moderno) */
.outlet-component {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-accent) var(--bg-dark);
}
